html, body{
    background-color: #363232;
    padding: 0;
    margin: 0;
}

.all_photo {
    margin-left: 22px;
}

.link_profile {
    text-decoration: none;
    color: white;
    font-size: 20px; 
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
}

.link_profile p {
    padding: 10px;
}

.photo{
    display: inline-block;
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 25px;
}

img {
    border: solid;
    border-color: white;
}

.description{
    display: flex;
    justify-content: space-between; 
}

.description p {
    margin: 0px;
}

.img_profile{
    border: solid;
    border-color: white;
    border-radius: 100px;
}

.description_like {
    display: flex;
    margin-right: 5px;
    font-size: 20px; 
    margin-top: 9px;
}

.description_like p {
    margin-left: 5px;
    margin-top: 2px;
}

.description_like img {
    margin-top: 3px;
}

p {
    color: white;
}

.like {
    border: none;
    width: 20px;
    height: 20px;
}

a.link{
    margin-left: 35%;
    margin-top: 30px;
    color: white;
    padding: 15px 20px;
    text-transform: uppercase;
    width:350px;
    text-decoration:none;
    text-align:center;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid white;
}
a.link:hover {
    background-position: 0 0;
    color:#fff;
}