html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.photo {
    display: inline-block;
    margin: 23px;
}

img {
    border: solid white;
    text-decoration: none;
}

.more {
    text-align: center;
    cursor: pointer;
}

.bio a{
    color: white;
    text-decoration: none;
}

.big_img {
    text-align: center;
}

.description {
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.like_img {
    border: none;
    width: 22px;
    height: 22px;
    margin-top: 20px;
}

.description_right {
    font-size: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
}

.description_right p {
    margin-right: 5px;
}

.description_left {
    margin-left: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

p {
    color: white;
    font-size: 20px;
}